:root {
    --pixels_per_cm : 35.185px
}


.container {  
    display: grid;
    grid-template-columns: calc(var(--pixels_per_cm) * 7) calc(var(--pixels_per_cm) * 1);
    grid-template-rows: calc(var(--pixels_per_cm) * .5);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: ". .";
    justify-content: center;
}

#keyboard {
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
}

#keyboard::-webkit-scrollbar {
    display: none;
    height: 0;
}

#textfield {
    margin: 5%;
    border: 1px solid black;
    height: 50%;
    width: 70%;
    align-self: center;

}
.letter {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0%;
    border-left: 1px dotted gray;
    border-right: 1px dotted gray;
}

#backspace {
    border:1px solid black;
    text-align: center;
    margin: 0;
    padding: 0;
}

table,td,tr {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

  